@use 'general'

.card
    width: 76vw
    height: 37vh
    margin: auto
    border: 1px solid black
    border-radius: 5px
    background-color: #fff
    font-family: general.$police-titre

    .imgbox
        height: 44%
        overflow: hidden
        img
            width: 100%
            height: auto
            display: block

    .content
        padding: 10px
        display: flex
        flex-direction: column
        justify-content: space-between

        .lieu
            font-size: 1.2rem
            color: black
            margin-bottom: 0.3rem

        .logementTarif
            display: flex
            justify-content: space-between
            align-items: baseline
            margin-bottom: 0.3rem

        .logement
            font-size: 1rem

        .tarif
            font-size: 1.5rem
            font-weight: bold
            color: black

        .description 
            font-size: 0.9rem
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 3
            margin-bottom: 0.3rem
            font-family: general.$police-texte

        .noteEtAvis
            align-self: flex-start
            margin-top: auto
            display: flex
            align-items: center


            .note
                display: flex
                max-width: 30vw
                margin-right: 20px

                .noteEtoile 
                    width: 24px
                    height: 24px
                    transform: scale(0.8)
                    margin-right: -4px

        .avis
            font-size: 0.9rem
            font-weight: bold
            color: black
            margin-left: 10px
