@charset "UTF-8";
/* Définition des couleurs du Front par défaut */
/* Définition des couleurs du Back par défaut */
/* Import des polices Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
/* Import de la police dyslexique Lexend */
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
/* Définition des polices par défaut */
/* Définition tailles de police desktop */
/* Définition tailles de police mobile */
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

.devis {
  margin: 0% 3%;
  font-family: "Reem Kufi", sans-serif;
}
.devis p {
  font-size: 3vw;
}
.devis h3 {
  font-size: 2.2vw;
}

.headerDevis {
  display: flex;
  align-items: center;
  margin-bottom: 4vw;
}

.retour {
  border: 0;
  padding: 0;
  margin: 0 10%;
  background-color: white;
}

.titreRecapDevis {
  text-align: center;
  font-size: 4vw;
}

.titreLogDevis {
  font-size: 4vw;
}

.infosLogement {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infosLogement > .logementResa, .infosLogement > figure {
  flex: 1;
}

.noteResa {
  display: flex;
  align-items: center;
  margin-top: 2vw;
  font-size: 4vw;
}

.noteEtoile {
  width: 4vw;
}

.note {
  padding-left: 1.7vw;
}

.photoLogResa {
  width: 100%;
  border-radius: 2vw;
}

.infosReservationDev {
  padding: 3vw 0;
}
.infosReservationDev > h3 {
  text-align: center;
  /* Je veux que ce h3 ait une sorte de barre bleue en dessous (comme un soulignement) */
  font-size: 3vw;
  margin-bottom: 2vw;
  position: relative;
}
.infosReservationDev h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.5vw;
  width: 50%;
  height: 0.2vw;
  background-color: #8CB9BD;
}
.infosReservationDev > div:not(.deuxiemeBarre) {
  padding-bottom: 3vw;
  display: flex;
  justify-content: space-between;
}

.info-label {
  flex: 1;
  text-align: left;
}

.info-value {
  flex: 1;
  text-align: right;
}

.PaiementResa {
  margin: 2vw 0;
  border: #8CB9BD solid 0.2vw;
  border-radius: 1vw;
  padding: 3% 0;
}
.PaiementResa > p {
  margin-left: 2vh;
}

figure {
  margin: 0 2.5vh;
}

.ChoixPaiement {
  display: flex;
  flex-direction: column;
}

.PaiementVisa, .PaiementPaypal {
  display: flex;
  align-items: center;
  margin-left: 15vw;
}

.imageVisa, .imagePaypal {
  margin: 0 2vw 2vw 0;
  width: 13vw;
}

input::-moz-placeholder {
  font-weight: bold;
  opacity: 0.5;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
}

.styleInput {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.styleInput input {
  border: 0,2vw solid #ccd1d9;
  border-radius: 1vw;
  padding: 2vw;
  font-size: 1vw;
  flex: 1;
  margin-right: 1rem;git pull

  box-sizing: border-box;
}
.styleInput input:last-child {
  margin-right: 0;
}

#carteCredit {
  flex: 2;
}

.premiereBarre {
  width: 100%;
  height: 0.7vw;
  background-color: #8CB9BD;
  margin: 10px auto;
  border-radius: 1vw;
}

.deuxiemeBarre {
  width: 40%;
  height: 0.7vw;
  background-color: #8CB9BD;
  margin: 10px auto;
  border-radius: 1vw;
}

.condAnnul > p {
  font-size: 2vw;
}
.condAnnul h3 {
  position: relative;
  margin-bottom: 1.7vw;
}
.condAnnul h3::after {
  content: "";
  position: absolute;
  bottom: -0.6vw;
  left: 0;
  width: 7.5ch;
  height: 0.3vw;
  background-color: #8CB9BD;
}

section {
  text-align: center;
  margin: 20px 0;
}

.proceder_paiement,.boutonPaypal {
  font-family: "Reem Kufi", sans-serif;
  padding: 2vw 3vw;
  background-color: #F0AA1F;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  font-size: 2.5vw;
  width: 30vw;
}

.boutonPrecedent {
  font-family: "Reem Kufi", sans-serif;
  padding: 2vw 3vw;
  background-color: #F0AA1F;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  font-size: 2.5vw;
  width: 30vw;
  margin: 5vw 0 3vw 5vw;
}

/* Styles pour l'overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-box {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  /* Centrer la modale */
  background: white;
  border: 0.7vw solid #8CB9BD;
  border-top: 0;
  border-radius: 2vw;
  text-align: center;
  display: none;
  width: 80%;
  padding: 2vw;
  box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.1);
}

.headerPaiementValide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 4vw;
}
.headerPaiementValide h2 {
  margin: 0;
  font-size: 5vw;
}
.headerPaiementValide img {
  width: 5vw;
  height: auto;
}
.headerPaiementValide i {
  font-size: 5vw;
  color: #4CAF50;
}

.active .overlay, .active .modal-box {
  display: block;
}

/* Ajustements de style pour les petits écrans */
@media (max-width: 800px) {
  .HeaderConteneur {
    display: none;
  }
  .headerPaiementValide {
    flex-direction: column;
    /*     gap: 5px; */
  }
  input, h3, .boutonPrecedent, .boutonPaypal {
    display: none;
  }
}
@media (min-width: 800px) {
  .headerPaiementValide > h2 {
    font-size: 3vw;
  }
  .headerPaiementValide > img {
    width: 3vw;
  }
  .deuxiemeBarre, .premiereBarre, .headerDevis, .PaiementResa p {
    display: none;
  }
  .infosReservationDev {
    border: solid 0.2vw #8CB9BD;
    padding: 0vw;
    display: flex;
    padding: 2vw;
    flex-direction: column;
    flex: 1;
    border-radius: 1vw;
  }
  .infosLogementsTOTAL {
    display: flex;
  }
  .infosLogementResa {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .note {
    display: flex;
    width: 10vw;
  }
  .devis p {
    font-size: 2vw;
  }
  .noteResa {
    display: flex;
    align-items: center;
    margin-top: 2vw;
    font-size: 2vw;
  }
  .titreLogDevis {
    font-size: 2.7vw;
  }
  .infosLogement {
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.2vw #8CB9BD;
    flex: 1;
    padding: 1vw;
    border-radius: 1vw;
  }
  .condAnnul > p {
    font-size: 1.3vw;
  }
  .boutonPrecedent, .boutonPaypal {
    padding: 1vw 1.5vw;
    border-radius: 0.7vw;
    font-size: 1.8vw;
  }
  .boutonPrecedent {
    width: 20vw;
  }
  .boutonPaypal {
    width: 12vw;
    margin: 5vw 1vw 2vw 0;
    padding: 1.5vw 5vw;
  }
  .proceder_paiement, .boutonPaypal {
    padding: 1vw 1.5vw;
    border-radius: 0.7vw;
    font-size: 1.8vw;
    width: 20vw;
    float: right;
    margin: 0 5vw 5vw 0;
  }
  .boutonPaypal{
    margin:5vw 0 5vw 0;
  }
  .ChoixPaiement {
    flex-direction: row;
  }
  .PaiementPaypal, .PaiementVisa {
    flex-direction: column;
    margin-left: 2vw;
    flex: 1;
  }
}
@media (min-width: 1400px) {
  .PaiementVisa {
    border-right: 0.2vw solid black;
  }
}
/*# sourceMappingURL=devis.css.map */