@use 'general'

$mobile: screen and (max-width: 680px)
$tablette: screen and (max-width: 960px)

@mixin flexRow
    display: flex
    flex-flow: row nowrap
    justify-content: space-evenly
    align-items: center

@mixin flexCol
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center

/*@media mobile*/
#descLogement
    @include flexCol
    font-family: 'DM Sans'
    font-size: 0.9em

    #btnRetourMobile
        @include flexCol
        position: fixed
        top: 1.5vh
        left: 3vw
        width: 40px
        height: 40px
        border-radius: 20px
        border: none

    article
        @include flexCol  

    #imageLogement
        width: 100%

    #divTitre
        display: flex
        flex-flow: row wrap
        justify-content: center
        margin: 3vh 3vw

        h1
            font-size: 1.3em
            margin: 0 1vw

    #note 
        display: flex
        flex-flow: row nowrap
        justify-content: center

        p
            margin: 3vw

        img
            width: 7vw

    #divPrix
        display: flex
        flex-flow: row nowrap
        justify-content: space-evenly

        #prix
            font-size: 2em

    .barre
        padding: 1px 120px
        background-color: general.$couleur-front-bleu-nuageux
        margin: 2.5vh 0

    h2
        font-size: 1.5em

    #divNbPersonnesMax
        @include flexRow
        margin: 1vh 0

        p
            font-weight: 600

    #literie
        @include flexRow
        width: 100vw

        div
            @include flexCol
            margin: 2vw

            p
                text-align: center
                font-weight: 600
        

    #descDet
        margin: 1.5vh 3vh

    #listeAmenagements
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-items: center
        margin: 1vh 0

        .badgeAmenagement
            @include flexRow
            background-color: general.$couleur-front-bleu-verdatre
            color: white
            margin: 1vh 5vw
            border-radius: 10px
            width: 35vw

            img
                padding: 1.2vh 2vw 1.2vh 3vw

            h3
                width: 20vw
                padding: 1.2vh 3vw 1.2vh 2vw
                font-size: 1.2em
                font-weight: 600
    
    #reservation
        @include flexRow
        position: fixed
        top: 80vh
        height: 10vh
        width: 100vw
        background-color: white
        border-radius: 5px 5px 0 0 
        border: 1px solid
        border-block-color: black

        .btn
            @include flexRow
            width: 28vw
            height: 5.5vh
            border: none
            border-radius: 5px
            font-size: 1.2em
            font-weight: 500

        #btnRes
            background-color: general.$couleur-front-jaune-pabo

        #sctNbOccupants
            padding: 1vh 2vw

    #buffer
        height: 25vh

    #popupDate
        @include flexCol
        width: 80vw
        padding: 5vw
        display: none
        background-color: white
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2)
        position: fixed
        top: 50vh

        h3
            margin: 0 2vw
        
        .ligneSaisiePopup
            @include flexRow
            margin: 1vh 2vw

            .labelPopup
                display: block
                width: 40vw
                font-size: 1.2em

            .champSaisiePopup
                height: 4vh
                width: 40vw
                font-size: 1.5em
                text-align: center