@charset "UTF-8";
/* Définition des couleurs du Front par défaut */
/* Définition des couleurs du Back par défaut */
/* Import des polices Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
/* Import de la police dyslexique Lexend */
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
/* Définition des polices par défaut */
/* Définition tailles de police desktop */
/* Définition tailles de police mobile */
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

/* Appliquer les polices */
body {
  font-family: "DM Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Reem Kufi", sans-serif;
}

/*@media mobile*/
#descLogement {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans";
  font-size: 0.9em;
}
#descLogement #btnRetourMobile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1.5vh;
  left: 3vw;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
}
#descLogement article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#descLogement #imageLogement {
  width: 100%;
}
#descLogement #divTitre {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 3vh 3vw;
}
#descLogement #divTitre h1 {
  font-size: 1.3em;
  margin: 0 1vw;
}
#descLogement #note {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
#descLogement #note p {
  margin: 3vw;
}
#descLogement #note img {
  width: 7vw;
}
#descLogement #divPrix {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
#descLogement #divPrix #prix {
  font-size: 2em;
}
#descLogement .barre {
  padding: 1px 120px;
  background-color: #ADC6E3;
  margin: 2.5vh 0;
}
#descLogement h2 {
  font-size: 1.5em;
}
#descLogement #divNbPersonnesMax {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1vh 0;
}
#descLogement #divNbPersonnesMax p {
  font-weight: 600;
}
#descLogement #literie {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}
#descLogement #literie div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}
#descLogement #literie div p {
  text-align: center;
  font-weight: 600;
}
#descLogement #descDet {
  margin: 1.5vh 3vh;
}
#descLogement #listeAmenagements {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 1vh 0;
}
#descLogement #listeAmenagements .badgeAmenagement {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #377E81;
  color: white;
  margin: 1vh 5vw;
  border-radius: 10px;
  width: 35vw;
}
#descLogement #listeAmenagements .badgeAmenagement img {
  padding: 1.2vh 2vw 1.2vh 3vw;
}
#descLogement #listeAmenagements .badgeAmenagement h3 {
  width: 20vw;
  padding: 1.2vh 3vw 1.2vh 2vw;
  font-size: 1.2em;
  font-weight: 600;
}
#descLogement #reservation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 80vh;
  height: 10vh;
  width: 100vw;
  background-color: white;
  border-radius: 5px 5px 0 0;
  border: 1px solid;
  border-block-color: black;
}
#descLogement #reservation .btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 28vw;
  height: 5.5vh;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 500;
}
#descLogement #reservation #btnRes {
  background-color: #F1D950;
}
#descLogement #reservation #sctNbOccupants {
  padding: 1vh 2vw;
}
#descLogement #buffer {
  height: 25vh;
}
#descLogement #popupDate {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 5vw;
  display: none;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50vh;
}
#descLogement #popupDate h3 {
  margin: 0 2vw;
}
#descLogement #popupDate .ligneSaisiePopup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1vh 2vw;
}
#descLogement #popupDate .ligneSaisiePopup .labelPopup {
  display: block;
  width: 40vw;
  font-size: 1.2em;
}
#descLogement #popupDate .ligneSaisiePopup .champSaisiePopup {
  height: 4vh;
  width: 40vw;
  font-size: 1.5em;
  text-align: center;
}/*# sourceMappingURL=détailsLogement.css.map */