@use './general' as general

.HeaderContainer 
    /* Taille */
    height: 75px

    /* Display */
    display: flex
    flex-direction: row

    /*Couleur de fond*/
    background-color: general.$couleur-front-bleu-verdatre

.HeaderContainer > .Logo > a > img
    margin-top: 10%
    margin-left: 2%
    width: 64px
    height: 64px

.HeaderContainer > .Menu > ul
    list-style: none
    text-decoration: none

