@charset "UTF-8";
/* Définition des couleurs du Front par défaut */
/* Définition des couleurs du Back par défaut */
/* Définition des tailles d'écran par défaut */
/* Import des polices Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
/* Import de la police dyslexique Lexend */
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
/* Définition des polices par défaut */
/* Définition tailles de police desktop */
/* Définition tailles de police mobile */
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

/* Appliquer les polices */
body {
  font-family: "DM Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Reem Kufi", sans-serif;
}

.error {
  border: 1px solid #D8000C !important;
}

.messageError {
  color: #D8000C;
  font-size: 0.8rem;
}

@media screen and (min-width: 1023px) {
  .modalTitle {
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    font-family: "Reem Kufi", sans-serif;
    margin-bottom: 10%;
  }
  .fermer {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    margin-left: 2%;
  }
  .blur {
    filter: blur(2px);
    pointer-events: none;
  }
  .exception {
    /* Ensure the modal is not blurred */
    filter: none;
    pointer-events: auto;
  }
  .modal-register-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    width: 50%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-register-content .mobile {
    display: none;
  }
  .modal-register-content .container-creation-compte {
    display: flex;
    width: 90%;
    margin: 0 auto 0 auto;
    flex-direction: column;
    font-size: 1em;
  }
  .modal-register-content .container-creation-compte .formulaire-creation-compte {
    margin-bottom: 15px;
  }
  .modal-register-content .container-creation-compte .scroll {
    overflow-y: auto;
    height: 50vh;
    margin-bottom: 15px;
  }
  .modal-register-content .container-creation-compte .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .modal-register-content .container-creation-compte .form #password_error, .modal-register-content .container-creation-compte .form #confirm_password_error {
    color: red;
  }
  .modal-register-content .container-creation-compte .form input, .modal-register-content .container-creation-compte .form select {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ADC6E3;
  }
  .modal-register-content .container-creation-compte .form input {
    padding: 0px 10px;
  }
  .modal-register-content .container-creation-compte .form select {
    padding: 0px 5px;
  }
  .modal-register-content .container-creation-compte .form select {
    width: 30%;
  }
  .modal-register-content .container-creation-compte button {
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  .modal-register-content .container-creation-compte .registerButton {
    background-color: #377E81;
    color: white;
  }
  .modal-register-content .container-creation-compte .registerButton:hover {
    background-color: #46a1a5;
  }
  .modal-register-content .container-creation-compte #register_error {
    display: none;
  }
  .modal-register-content .container-creation-compte .hasAccountButton {
    background-color: white;
    color: #377E81;
  }
  .modal-register-content .container-creation-compte .hasAccountButton:hover {
    background-color: #e6e6e6;
  }
  .modal-register-content .container-creation-compte .CGU-form {
    margin-bottom: 15px;
  }
  .modal-register-content .container-creation-compte .CGU-form, .modal-register-content .container-creation-compte .CGV-form {
    display: flex;
    align-items: center;
  }
  .modal-register-content .container-creation-compte .CGU-form > *:not(:last-child), .modal-register-content .container-creation-compte .CGV-form > *:not(:last-child) {
    margin-right: 10px;
  }
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    width: 50%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-content .mobile {
    display: none;
  }
  .modal-content .container-connexion-compte {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    width: 90%;
    margin: 0 auto 0 auto;
  }
  .modal-content .container-connexion-compte .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .modal-content .container-connexion-compte .form #password_error, .modal-content .container-connexion-compte .form #confirm_password_error {
    color: red;
  }
  .modal-content .container-connexion-compte input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ADC6E3;
  }
  .modal-content .container-connexion-compte input {
    padding: 0px 10px;
  }
  .modal-content .container-connexion-compte button {
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  .modal-content .container-connexion-compte .loginButton {
    background-color: #377E81;
    color: white;
    margin: 10% auto 0 auto;
  }
  .modal-content .container-connexion-compte .loginButton:hover {
    background-color: #46a1a5;
  }
  .modal-content .container-connexion-compte #login_error {
    display: none;
  }
  .modal-content .container-connexion-compte .needAccountButton {
    background-color: white;
    color: #377E81;
    margin: 15px auto 0 auto;
  }
  .modal-content .container-connexion-compte .needAccountButton:hover {
    background-color: #e6e6e6;
  }
  .alert-popup {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 40%;
    word-wrap: break-word;
    border-radius: 0 0 10px 10px;
    z-index: 999999;
    background-color: #fff;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  }
  .alert-popup img {
    width: 20%;
  }
  .alert-popup p {
    width: 70%;
    text-align: center;
    animation: arrivee 0.5s, depart 0.5s 5s forwards;
  }
  @keyframes arrivee {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
  @keyframes depart {
    from {
      top: 0;
    }
    to {
      top: -100%;
    }
  }
}
@media screen and (max-width: 1023px) {
  .alert-popup {
    display: none;
  }
  .modal-register-content {
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
    transform: none;
    z-index: 1050;
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-family: "DM Sans", sans-serif;
  }
  .modal-register-content .fermer {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 2.5em;
    cursor: pointer;
  }
  .modal-register-content .desktop {
    display: none;
  }
  .modal-register-content .logoTitre {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .modal-register-content img {
    height: 30%;
    margin-bottom: 15px;
  }
  .modal-register-content h1 {
    height: -moz-fit-content;
    height: fit-content;
    font-family: "Reem Kufi", sans-serif;
  }
  .modal-register-content .container-creation-compte {
    display: flex;
    margin: 0 auto 0 auto;
    flex-direction: column;
    width: 90vw;
    height: 70vh;
    font-size: 1em;
  }
  .modal-register-content .container-creation-compte .formulaire-creation-compte {
    margin-bottom: 15px;
  }
  .modal-register-content .container-creation-compte .scroll {
    overflow-y: auto;
    height: 50vh;
    margin-bottom: 15px;
  }
  .modal-register-content .container-creation-compte .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .modal-register-content .container-creation-compte .form #password_error, .modal-register-content .container-creation-compte .form #confirm_password_error {
    color: red;
  }
  .modal-register-content .container-creation-compte .form input, .modal-register-content .container-creation-compte .form select {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ADC6E3;
  }
  .modal-register-content .container-creation-compte .form input {
    padding: 0px 10px;
  }
  .modal-register-content .container-creation-compte .form select {
    padding: 0px 5px;
  }
  .modal-register-content .container-creation-compte .form select {
    width: 30%;
  }
  .modal-register-content .container-creation-compte button {
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  .modal-register-content .container-creation-compte .registerButton {
    background-color: #377E81;
    color: white;
  }
  .modal-register-content .container-creation-compte .registerButton:hover {
    background-color: #46a1a5;
  }
  .modal-register-content .container-creation-compte #register_error {
    color: red;
  }
  .modal-register-content .container-creation-compte .hasAccountButton {
    background-color: white;
    color: #377E81;
  }
  .modal-register-content .container-creation-compte .hasAccountButton:hover {
    background-color: #e6e6e6;
  }
  .modal-register-content .container-creation-compte .CGU-form {
    margin-bottom: 15px;
  }
  .modal-register-content .container-creation-compte .CGU-form, .modal-register-content .container-creation-compte .CGV-form {
    display: flex;
    align-items: center;
  }
  .modal-register-content .container-creation-compte .CGU-form > *:not(:last-child), .modal-register-content .container-creation-compte .CGV-form > *:not(:last-child) {
    margin-right: 10px;
  }
  .modal-content {
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
    transform: none;
    z-index: 1050;
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-family: "DM Sans", sans-serif;
  }
  .modal-content .fermer {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 2.5em;
    cursor: pointer;
  }
  .modal-content .desktop {
    display: none;
  }
  .modal-content .logoTitre {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .modal-content img {
    height: 30%;
    margin-bottom: 15px;
  }
  .modal-content h1 {
    height: -moz-fit-content;
    height: fit-content;
    font-family: "Reem Kufi", sans-serif;
  }
  .modal-content .container-connexion-compte {
    display: flex;
    margin: 10% auto 0 auto;
    flex-direction: column;
    width: 90vw;
    height: 70vh;
    font-size: 1em;
  }
  .modal-content .container-connexion-compte .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .modal-content .container-connexion-compte .form #password_error, .modal-content .container-connexion-compte .form #confirm_password_error {
    color: red;
  }
  .modal-content .container-connexion-compte input, .modal-content .container-connexion-compte select {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ADC6E3;
  }
  .modal-content .container-connexion-compte input {
    padding: 0px 10px;
  }
  .modal-content .container-connexion-compte select {
    padding: 0px 5px;
  }
  .modal-content .container-connexion-compte select {
    width: 30%;
  }
  .modal-content .container-connexion-compte button {
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  .modal-content .container-connexion-compte .loginButton {
    background-color: #377E81;
    color: white;
    margin: 20% auto 0 auto;
  }
  .modal-content .container-connexion-compte .loginButton:hover {
    background-color: #46a1a5;
  }
  .modal-content .container-connexion-compte #login_error {
    color: red;
  }
  .modal-content .container-connexion-compte .needAccountButton {
    background-color: white;
    color: #377E81;
    margin: 15px auto 0 auto;
  }
  .modal-content .container-connexion-compte .needAccountButton:hover {
    background-color: #e6e6e6;
  }
}/*# sourceMappingURL=modal.css.map */