/html/assets/SCSS/Back/*.css
/html/assets/SCSS/Back/*.css.map
/html/assets/SCSS/Front/*.css.map
/html/assets/SCSS/Front/*.css
/html/assets/SCSS/Front/general.css
/html/assets/SCSS/Front/general.css.map

/html/assets/SCSS/*.css.map
html/Service/Database.php
html/assets/imgs/logements/image_19.avif
html/Service/Config.php
