@use './general' as general

footer
    background-color: general.$couleur-front-bleu-verdatre


.FooterContainer
    /* Taille */
    height: 20vh
    min-width: 80%
    width: 100%
    max-width: 100%

    /* Texte */
    color: #FFFFFF
    font-family: general.$police-texte
    font-size: 1em  

    @media screen and ( max-width: 960px )
        font-size: 0.8em

    a
        &:link
            color: #FFFFFF

    h2
        font-family: general.$police-titre
        font-size: 1.4em

    .FooterElements
        display: flex
        justify-content: center
        align-items: center

        margin-bottom: 10px

        img
            margin-top: 10px
            width: 8vh
            height: 7vh

        div
            margin: 1vw 3vw
            align-items: center
            
            ul
                list-style: none

                li
                    margin-top: 10px

                    a
                        &:hover
                            color: #F1D950

                        &:visited
                            color: #F1D950

.DivCopyright
    display: flex
    justify-content: center
    align-items: center
    text-align: center

    font-family: general.$police-titre
    margin-top: 10px