@use '../general' as general 

#not-found
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  #not-found-image
    width: 20vw

#filtres
    display: flex
    flex-direction: row
    justify-content: start
    align-items: center
    gap: 1vw
    width: 90%
    margin: 1em auto
    flex-grow: 1
    font-size: 1rem
    // on saute la ligne quand les filtres sortent de l'écran
    flex-wrap: wrap
    

    input 
        border: none
        outline: none
    
    button
        border: none
        padding: 10px
        border-radius: 6px
        cursor: pointer
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        // meme style que les boutons de filtres
        background-color: #fff
        color: #000
        border: 1px solid #ccc
        padding: 10px
        border-radius: 6px
        cursor: pointer

        &:hover
            background-color: #f0f0f0

    .filtreContainer
      display: flex
      flex-direction: column

      label
        white-space: nowrap
        overflow: elipsis
      
      button
        font-size: 1rem
      
      #rangePicker
        font-size: 1rem
        // meme style que les boutons de filtres
        background-color: #fff
        color: #000
        border: 1px solid #ccc
        padding: 10px
        border-radius: 6px
        cursor: pointer

        &:hover
            background-color: #f0f0f0      

.multiselect-container
  position: relative
  width: 300px

  label
        white-space: nowrap
        overflow: elipsis

.select-box
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px
  cursor: pointer
  border-radius: 5px
  border: 1px solid #ccc

  &:hover
    background-color: #f0f0f0

.selected-items
  flex-grow: 1
  display: flex
  gap: 5px
  overflow-x: auto
  white-space: nowrap
  scrollbar-width: thin
  // scrollbar-color: #000 #f0f0f0
  // scrollbar-color: general.$couleur-front-bleu-verdatre #f0f0f0

  &::-webkit-scrollbar
    height: 6px    

  &::-webkit-scrollbar-thumb
    background: #888
    border-radius: 10px

.searchDept
    display: none

.selected-item
  // background-color: general.$couleur-front-bleu-nuageux
  // color: general.$couleur-front-bleu-charbon
  background-color: general.$couleur-front-jaune-pabo
  color: #000
  padding: 0px 10px
  border-radius: 5px
  display: inline-flex
  align-items: center

  span
    margin-left: 5px
    cursor: pointer

.arrow
    font-size: 12px
    margin-left: 10px    
    
.dropdown
    position: absolute
    top: calc(100% + 5px)
    left: 0
    width: 100%
    display: none
    border: 1px solid #ccc
    border-top: none
    z-index: 1000
    border-radius: 0 0 5px 5px
 

    input
        width: 100%
        padding: 10px
        box-sizing: border-box
        border: none
        border-bottom: 1px solid general.$couleur-front-bleu-marine

    ul
        list-style: none
        padding: 0
        margin: 0
        max-height: 150px
        overflow-y: auto

    li
        padding: 10px
        cursor: pointer
        user-select: none
        background-color: #fff

        &:hover
            background-color: #f0f0f0

        &.selected
            // background-color: general.$couleur-front-bleu-nuageux
            // color: general.$couleur-front-bleu-charbon
            background-color: general.$couleur-front-jaune-pabo
            color: #000

// FILTRE PRIX
#filtrePrixContainer
  position: relative
  display: flex
  flex-direction: column

  #prixFiltresContainer
    display: flex
    flex-direction: column

    button
      background-color: #fff
      color: #000
      border: 1px solid #ccc
      padding: 10px
      border-radius: 6px
      cursor: pointer

      &:hover
        background-color: #f0f0f0

  #wrapper
    display: none
    position: absolute
    top: 100%
    left: 0
    background-color: #fff
    // border: 1px solid #000
    padding: 1em
    z-index: 1000
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
    width: 20vw
    border-radius: 5px

  p
    margin-top: 5px

  .price-input
    width: 100%
    display: flex
    margin: 30px 0 35px 

    .field
        display: flex
        width: 100%
        height: 45px
        align-items: center

  .field input
      width: 100%
      height: 100%
      outline: none
      margin-left: 12px
      border-radius: 5px
      text-align: center
      border: 1px solid #999
      -moz-appearance: textfield

  input[type="number"]
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
      -webkit-appearance: none

  .price-input .separator
    width: 130px
    display: flex
    align-items: center
    justify-content: center

  .slider
    height: 5px
    position: relative
    background: #ddd
    border-radius: 5px

  .progress
    height: 100%
    left: 0
    right: 0
    position: absolute
    border-radius: 5px
    background: general.$couleur-front-jaune-pabo
    // background: general.$couleur-front-bleu-verdatre

  .range-input
    position: relative

    input
      position: absolute
      width: 100%
      height: 5px
      top: -5px
      background: none
      pointer-events: none
      -webkit-appearance: none
      -moz-appearance: none
      
      &:nth-child(2), &:last-child
        right: -5px

  input[type="range"]
    &::-webkit-slider-thumb
      height: 17px
      width: 17px
      border-radius: 50%
      background-color: general.$couleur-front-jaune-pabo
      pointer-events: auto
      -webkit-appearance: none
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.05)

      &::-moz-range-thumb
        height: 17px
        width: 17px
        border: none
        border-radius: 50%
        background: #17A2B8
        pointer-events: auto
        -moz-appearance: none
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05)

// DATE PICKER
#rangePicker .flatpickr-input
  border: 1px solid black

.date-picker-container
  position: relative

#date-range
  padding: 10px
  width: 200px
  cursor: pointer

.calendar
  position: absolute
  top: 40px
  border: 1px solid #ccc
  background-color: #fff
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  z-index: 10

.hidden
  display: none

.calendar-header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px
  background-color: #f7f7f7
  border-bottom: 1px solid #ccc

.weekdays, .days
  display: flex
  flex-wrap: wrap

.weekdays div
  width: 14.28%
  text-align: center
  padding: 10px

.days div
  width: 14.28%
  text-align: center
  padding: 10px
  cursor: pointer

  &:hover
    background-color: #eee

.selected
  background-color: #007BFF
  color: #fff

@media screen and (max-width: general.$max-width-telephone)    
    #headerAccueilMobile 
      height: 7vh
      background-color: white
      padding: 20px
      display: flex
      align-items: center
      justify-content: space-between
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
      align-items: end
      position: fixed
      top: 0
      left: 0
      right: 0

    #logoAssoMobile 
        max-width: 20%

    #buttonfiltresMobile 
        width: 15%
        aspect-ratio: 1/1
        border-radius: 50%
        background-color: white
        border: 2px solid #000
        
        #logoAssoMobile
            width: 60%
            height: 60%

    #cardsContainer
        margin-bottom: 25%

    #imageAccueil
        display: none

    #filtres
      display: none
      flex-direction: column
      justify-content: center
      align-items: center
      width: 100% 
      height: 100%
      // gap: 1em
      background-color: #fff
      z-index: 1000 

      // je veux que tous les champs aient la même largeur
      input, button
        width: 90%
        margin: 0.5em

      .filtreContainer
        width: 90%
        margin: 0.5em
      
      .multiselect-container
        width: 90%
        margin: 0.5emfez


@media screen and (min-width: general.$max-width-telephone)
    #headerAccueilMobile 
        display: none

    #cardsContainer
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr))
        grid-column-gap: 0px
        padding: 0 5%

    #imageAccueil
        height: 80vh
        background-image: url(/assets/imgs/imgAccueil.webp)
        background-size: cover
        background-position: top
        
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        position: relative 
        // on rajoute un fondu progessif vers le bas pour que l'image laisse place au filtre le fondu s'acccentue de plus en plus vers le bas
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            // background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))
            // pas linéaire le dégradé doit commencer à 50% de la hauteur de l'image
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1)) 

            z-index: 1


