@use './general' as general

#ongletFiltres
    display: none

#cardsContainer
    .error
        font-size: 1.5em
        text-align: center
        margin-top: 20px
        font-family: general.$police-titre

@media screen and (max-width: general.$max-width-telephone)
    #headerAccueilMobile 
        background-color: white
        padding: 20px
        display: flex
        align-items: center
        justify-content: space-between
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
        align-items: end
        position: fixed
        top: 0
        left: 0
        right: 0

    #logoAssoMobile 
        max-width: 20%

    #buttonfiltresMobile 
        width: 15%
        aspect-ratio: 1/1
        border-radius: 50%
        background-color: white
        border: 2px solid #000
        
        img
            width: 60%
            height: 60%

    #cardsContainer
        margin-bottom: 25%

@media screen and (min-width: general.$max-width-telephone)
    #headerAccueilMobile 
        display: none

    #cardsContainer
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr))
        grid-column-gap: 0px
        padding: 0 5%
@media screen and (max-width: 410px)
    #cardsContainer
        width: 120%
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        grid-column-gap: 0px
        padding: 0 5%