@use '../general' as general

.modal-register-content
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 9999
    color: general.$couleur-front-bleu-charbon
    background-color: #FFFFFF !important

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)

    width: 30%
    height: fit-content
    margin: auto
    margin-top: 10%

    border-radius: 10px

    display: flex
    flex-direction: column

    user-select: none
    text-align: center
    h2
        vertical-align: middle
        text-align: center

    .fermer
        font-size: 1.5em
        font-weight: bold
        cursor: pointer
        margin-right: auto
        margin-left: 0.5em

    #connexionForm
        display: flex
        flex-direction: column
        align-items: center

        input
            margin: 10px
            padding: 10px
            border-radius: 5px
            border: 1px solid general.$couleur-front-bleu-charbon
            outline-color: general.$couleur-front-bleu-verdatre

        button
            margin: 10px
            padding: 10px
            border-radius: 5px
            border: 1px solid general.$couleur-front-bleu-charbon
            background-color: general.$couleur-front-bleu-verdatre
            color: white

    #inscription
        margin-top: 10px
        text-decoration: underline
        text-align: center
        cursor: pointer

.blur
    z-index: -1
    filter: blur(5px)
    pointer-events: none

/* Ensure the modal is not blurred */
.exception
    filter: none
    pointer-events: auto

.alert-popup-content
    display: flex

    position: absolute
    top: 0
    left: 47.5%

    z-index: 999999

    flex-direction: column
    align-items: center
    justify-content: center
    padding: 10px
    border-radius: 5px

    margin: 10px
    text-align: center

    svg
        margin-top: 0.5%
    p
        margin-top: 10px

    a
        text-decoration: underline
        cursor: pointer
.error
    border: 1px solid #D8000C !important
    background-color: #F8D7DA
    color: #D8000C

.succes
    border: 1px solid #38A356 !important
    background-color: #D4EDDA
    color: #38A356

@media screen and (max-width: general.$max-width-tablette)
    .modal-content
        width: 50%
        margin-top: 5%
        h2
            font-size: 1.5em
        .fermer
            font-size: 1em
        #connexionForm
            input
                width: 80%
                font-size: 1em
            button
                width: 80%
                font-size: 1em
        #inscription
            font-size: 1em

// @media screen and (max-width: 560px)
//     .modal-content
//         width: 100%
//         margin-top: 5% !important
//         margin-left: 10% !important
//         h2
//             font-size: 1.5em
//         .fermer
//             font-size: 1em
//         #connexionForm
//             input
//                 width: 80%
//                 font-size: 1em
//             button
//                 width: 80%
//                 font-size: 1em
//         #inscription
//             font-size: 1em

// style de la page d'inscription mobile
@media screen and (max-width: general.$max-width-telephone)
    .modal-register-content
        position: absolute
        background-color: white
        width: 100vw
        height: 100vh
        font-family: general.$police-texte
        .desktop
            display: none
        .mobile
            display: 
        .logoTitre
            height: 30vh
            display: flex
            flex-direction: column
            align-items: center
            justify-content: flex-end
        img
            height: 30%
            margin-bottom: 15px
        h1
            height: fit-content
            font-family: general.$police-titre

        .container-creation-compte
            display: flex
            margin: 0 auto 0 auto
            flex-direction: column
            width: 90vw
            height: 70vh
            font-size: general.$taille-police-texte-mobile
            .formulaire-creation-compte
                margin-bottom: 15px
            .scroll
                overflow-y: auto
                height: 50vh
                margin-bottom: 15px
            .form
                display: flex
                flex-direction: column
                margin-bottom: 15px
                #password_error, #confirm_password_error
                    color: red

                input, select
                    height: 40px
                    border-radius: 5px
                    border: 1px solid general.$couleur-front-bleu-nuageux
                select
                    width: 30%
            button
                padding: 12px 20px

                border-radius: 5px
                border: 1px solid rgb(0, 0, 0, 0)
                cursor: pointer
                transition: background-color 0.3s ease
                width: 100%
            .registerButton
                background-color: general.$couleur-front-bleu-verdatre
                color: white
                &:hover
                    background-color: lighten(general.$couleur-front-bleu-verdatre, 10%)
            .hasAccountButton
                background-color: white
                color: general.$couleur-front-bleu-verdatre
                &:hover
                    background-color: darken(white, 10%)
            .CGU-form
                margin-bottom: 15px
            .CGU-form, .CGV-form
                display: flex
                align-items: center
                > *:not(:last-child)
                    margin-right: 10px

// --------------------------------- Style de la page de de connexion mobile ---------------------------------

// style de la page de détail du compte desktop
// @media screen and (min-width: general.$max-width-telephone)
